<header>
  <nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="#">Quiz-App</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" href="/">Home <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/newquiz">Create New Quiz</a>
      </li>
    </ul>
    </div>

    <ul>
      <% if (user) { %>
        Logged in as <%= user.name %>
        <form class="form-inline" action="/logout" method="POST">
          <div class="form-group mb-2">
            <button type="submit" class="btn btn-outline-dark">Logout</button>
          </div>
        </form>
      <% } else { %>
          <a href="/login" class="btn btn-outline-dark">Login</a>

          <a href="/register" class="btn btn-outline-dark">Register</a>

          <% } %>
    </ul>

    </nav>
</header>
