
</head>
<body class="createbody">
  <%- include('partials/header') %>
  <h1 class="title">Build your quiz:</h1>
  <div class="container" id="main">
    <img class="image" src="/images/clipart938295.png">
    <div class="quiz">
      <form action="/newquiz" method="POST">
        <div class="container">
          <label for="title">Enter your title below:</label><br>
          <input type="text" name="title" placeholder="Title">
        </div><br>
        <div class="container">
          <div class="form-group">
            <label for="description">Add a short description of your quiz:</label>
            <textarea class="form-control" id="description"></textarea>
          </div>
          <div class="container">
            <input type="radio" name="isPrivate">
            <label for="isPrivate">Would you like to make this quiz private?</label>
          </div>
          <div class="container">
            <button type="submit" class="btn btn-primary">Add quiz</button>
          </div>
        </div>
      </form>
      <div id="questions-container"></div>
      </div>
</body>
</html>
