<!DOCTYPE html>
<html lang="en">

<head>
  <title>Home Page</title>

  <link rel="stylesheet" href="/vendor/normalize-4.1.1.css" type="text/css" />
  <link rel="stylesheet" href="/vendor/border-box.css" type="text/css" />
  <link rel="stylesheet" href="/styles/main.css" type="text/css" />
  <link rel="stylesheet" href="/styles/layout.css" type="text/css" />

  <script type="text/javascript" src="/vendor/jquery-3.0.0.js"></script>
  <script type="text/javascript" src="/scripts/app.js"></script>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
</head>

<body>
  <%- include('partials/header') %>
  <h1>Create Quiz 🥔</h1>
  <div class="quiz">
  <form action="/new_quiz" method="POST" >

    <div class="container">
      <label for="title">Enter your title below:</label><br>
      <input type="text" name="title" placeholder="Title">
    </div><br>

    <div class="container">
      <div class="form-group">
        <label for="description">Add a short description of your quiz:</label>
        <textarea class="form-control" id="description" rows="3"></textarea>
      </div>
      <div class="container">
        <input type="radio" name="isPrivate">
        <label for="isPrivate">Would you like to make this quiz private?</label>
      </div>
    <div class="container">
      <button type="submit" class="btn btn-primary">Add quiz</button>
    </div>
    </div>
  </form>
  <form action="/new_quiz/:quiz_id" method="POST">
    <div class="container">
        <label for="question">Enter your question here:</label><br>
        <input type="text" name="question" placeholder="Question...?"><br><br>

        <div class="answer">
          <label for="answer-btn">Enter your answers below, and select the correct answer:
          <div class="answers1">
            <input type="radio" name="answer_btn" id="answer1">
            <input type="text" name="input_answer" id="input_answer1" placeholder="Answer 1">
          </div>

          <div class="answers2">
            <input type="radio" name="answer_btn" id="answer2">
            <input type="text" name="input_answer" id="input_answer2" placeholder="Answer 2">
          </div>

          <div class="answers3">
            <input type="radio" name="answer_btn" id="answer3">
            <input type="text" name="input_answer" id="input_answer3" placeholder="Answer 3">
          </div>

          <div class="answers4">
            <input type="radio" name="answer-btn" id="answer4">
            <input type="text" name="input_answer" id="input_answer4" placeholder="Answer 4">
          </div>

          <div class="container">
            <button type="submit" class="btn btn-primary" id=`question${i}` >Add Question</button>
          </div>
        </label>
        </div>
  </form>






</body>


</html>
