<!DOCTYPE html>
<html lang="en">

<head>
  <title>Home Page</title>

  <link rel="stylesheet" href="/vendor/normalize-4.1.1.css" type="text/css" />
  <link rel="stylesheet" href="/vendor/border-box.css" type="text/css" />
  <link rel="stylesheet" href="/styles/main.css" type="text/css" />
  <link rel="stylesheet" href="/styles/layout.css" type="text/css" />

  <script type="text/javascript" src="/vendor/jquery-3.0.0.js"></script>
  <script type="text/javascript" src="/scripts/app.js"></script>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
</head>

<body>
  <%- include('partials/header') %>
<div class="container" id="questions-container">
  <form id="new_question" >
     <label for="question">Enter your question here:</label><br>
     <input type="text" name="question" placeholder="Question...?" id="question"><br><br>
    <div class="answer">
    <label for="answer-btn">Enter your answers below, and select the correct answer:
    <div class="answers1">
      <input type="radio" name="answer-btn1" id="answer1">
      <input type="text" name="answer1" id="input_answer1" placeholder="Answer 1">
    </div>

    <div class="answers2">
      <input type="radio" name="answer-btn2" id="answer2">
      <input type="text" name="answer2" id="input_answer2" placeholder="Answer 2">
    </div>

    <div class="answers3">
      <input type="radio" name="answer-btn3" id="answer3">
      <input type="text" name="answer3" id="input_answer3" placeholder="Answer 3">
    </div>

    <div class="answers4">
      <input type="radio" name="answer-btn4" id="answer4">
      <input type="text" name="answer4" id="input_answer4" placeholder="Answer 4">
    </div>

    <div class="container">
      <button type="submit" class="btn btn-primary" >Add Answers</button>
    </div>

  </label>
  <button type="submit" onclick="location.href = '/quizzes';" class="btn btn-primary" id="create_quiz">Create your quiz</button>
  <p id="quiz_id"><%= quiz_id %></p>
  </form>
</div>
</body>
</html>
