body {
  display: flex;
  flex-direction: column;
  // justify-content: space-between;
  // align-items: center;
  min-height: 100vh;
  background-image: url("https://i.pinimg.com/originals/7e/e6/62/7ee662ac4de2c3b20de9576b8a91514f.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  margin: auto;
}
.image {
  width: 35%;
  }
  .body {
    margin: 10px;
    display: flex;
    flex-direction: column;
  }
  .title {
    margin-left: 150px;
    margin-top: 50px;
  }
  #description {
    width: 50%;
  }
  .image {
    width: 35%
    }
    .page {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
    }
    .quiz_container {
      width: 60%;
      display: flex;
      justify-content: center;
      flex-direction: column;
      align-items: center;
      margin: 10px;
      padding: 10px;
    }
    #main {
      display: flex;
      margin-top: 20px;
    }
    .questions-container {
      margin-top: 150px;
    }




